/*************** SECAO1 ***************/
#secao1 {
  background-color: #FBBC05;
  height: auto;
}

#divisoria {
  width: 100%;
  height: 100%;
}

.sobre-lab {
  padding-top: 90px;
}

.titulo-lab {
  font-size: 50px;
  font-weight: bold;
}

.desc-lab {
  padding-top: 20px;
  font-size: 20px;
}

.img-lab {
  height: 19em;
  padding-left: 50px;
}

@media screen and (max-width:820px) {
  .titulo-lab {
    font-size: 40px;
  }

  .desc-lab {
    font-size: 18px;
  }

  .img-lab {
    height: 12em;
  }
}

@media screen and (min-width:577px) and (max-width:720px) {
  .img-lab {
    height: 10em;
    padding-left: 20px;
  }
}

@media screen and (max-width:576px) {
  .img-lab {
    height: 10em;
    float: right;
    padding-left: 0;
  }

  #secao2{
    margin-top: 70px;
  }
}

/******************** SECAO2 **********************/

.container-exps {
  padding-left: 10%;
  padding-right: 10%;
}

.card {
  border-width: 0;
}

.tipo-exp {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 70px;
  margin-left: -20px;
}

.nome-exp {
  font-size: 30px;
  font-weight: bold;
}

.img-experimento {
  width: 100%;
  height: auto;
}

.btn-desativado {
  background-color: #34A853 !important;
}

.btn-cursos{
  background-color: #FBBC05;
  border-radius: 70px;
  width: 180px;
  height:50px;
  font-family: Roboto, sans-serif;
}

.btn-cursos:hover {
  background-color: #FAA100;
}

.div-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
