html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: Roboto, sans-serif;
}

p {
  text-align: justify;
}

/********************** NAV **********************/

.nav-link {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  color: #000000 !important;
}

.nav-link:hover {
  color: #4285f4!important;
  transition-property: all;
  transition-duration: 0.5s;
}

.btn-login {
  width: 200px;
  height: 50px;
  background-color: #34a853;
  border-radius: 73px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
}

.btn-login a {
  color: #FFFFFF;
}

.btn-login:hover{
  background-color: #25803E;
  color: #FFFFFF;
}

.btn-login a:hover {
  text-decoration: none;
}

.btn-menu {
  display: none;
}



@media screen and (min-width:300px) and (max-width:776px) {
  .nav-item {
    background-color: #ffffff;
  }

  .nav-link{
    text-align: center;
  }

  .navbar-nav {
    width: 100%;
    display: block;
    text-align: center;
  }

  .btn-login {
    display: none;
  }

  .btn-menu {
    display: block;
  }

  .nav-logo {
    height: 70%;
  }
}

.active {
  letter-spacing: 1px;
  font-weight: bold;
}

/****************** SECAO *********************/

.secao {
  position: relative;
}

/************* FOOTER ********************/
footer {
  height: 100px;
  background-color: #4285f4;
}

footer img {
  margin-top: 20px;
}

.final {
  text-align: center;
}
