/*************** SECAO1 ***************/
#secao1 {
  background-color: #FFFFFF;
  height: 100%;
}

.secao-div {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/************** SECAO2 ****************/
#secao2 {
  background-color: #C4C4C4;
}

.container {
  height: 100%;
}

.container-desktop {
  display: block;
}

.container-mobile {
  display: none;
}

.titulo {
  margin-bottom: 30px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.experimento {
  height: 300px;
  margin-bottom: 20px;
}

.exp-virtual {
  padding-left: 25px;
}

.img-exp {
  height: 30%;
}

.img-exp-virtual {
  float: right;
}

@media screen and (max-width:600px) {
  .container-desktop {
    display: none;
  }

  .container-mobile {
    display: block;
  }

  .img-exp {
    width: 100%;
    height: auto;
  }

  .card-deck {
    padding-bottom: 20px;
  }
}

.titulo-exp {
  font-size: 30px;
  font-weight: bold;
}

.desc-exp {
  font-size: 16px;
}

.btn-saiba-mais {
  background-color: #505050;
  border-radius: 70px;
  width: 150px;
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
}

.btn-saiba-mais:hover {
  background-color: #303030;
  color: #FFFFFF;
}

.div-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/************** SECAO3 ********************/
#secao3 {
  height: 1500px;
}