/********************* SECAO1 *******************/

#secao1 {
    background-color: #FFFFFF;
}

.container {
    padding-top: 80px;
}

.titulo-div {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.tipo-publicacao {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}

.publicacao {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
}

.final {
    margin-top: 50px;
}